<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto03Datos.Properties.Settings.bd_paisesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\datos\bd_paises.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>